# If we are running the example project/developing for django-minipub, we'll need to install
# the django-minipub required packages.
-r ../requirements.txt
# And a few more packages.
factory-boy>=3.0.0

