# Python bytecode:
*.py[co]

# Example project database.
db.sqlite3

# Package builds
django_mininews.egg-info

# Documentation
docs/_build/*

# Coverage
example_project/coverage_html_report
example_project/.coverage
