# List here the requirements for running this package.
# Note: Specifying django here crashes tox; it's autoinstalled with other packages it
# so can be removed from this file.
# django>=1.11
django-model-utils>=5.0.0 # Note: version that formally supports Dj5.2 not yet released.

