{% extends 'base.html' %}

{% block title %}{{ article.title }}{% endblock title %}

{% block page_title %}{{ article.title }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <em>{{ article.start|default:"No start date set" }}</em>
            <article class="news_article">{{ article.body|safe|linebreaksbr }}</article>
            <a href="/news/" class="btn btn-default">View all articles</a>
        </div>
    </div>
{% endblock content %}


