{% extends "news/root.html" %}

{% load news_tags %}

{% block title %}{{ article.title }}{% endblock title %}
{% block meta_keywords %}{{ article.meta_keywords }}{% endblock %}
{% block meta_description %}{{ article.meta_description }}{% endblock %}

{% block page_title %}{{ article.title }}{% endblock %}

{% block content %}

    <div class="row">

        <div class="col-md-9">
            <em>{{ article.start|default:"No start date set" }}</em>
            <article class="news_article">{{ article.body|safe|linebreaksbr }}</article>
            <a href="/news/">Return to list of all articles</a>
        </div>

	    <aside class="col-md-3">
	         <h3>Filter articles by year</h3>
	         {% article_year_list %}
	    </aside>

    </div>

{% endblock content %}


