/*! project specific CSS goes here. */

.navbar {
    margin-bottom: 2rem;
}

article.news_article {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.news_teaser {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.label.label-warning {
    font-size: 100%;
}

.read-more {
    margin-bottom: 2rem;
}
